<h2 class="h2-todo">To Do Table:</h2>

<div class="row">    
    <div class="column-left">
        <div id="table-scroll">            
            <table id=table>   
                <tr>
                    <th>ID</th>
                    <th>Assignee</th>
                    <th>Description</th> 
                    <th>Finish Date</th>
                    <th>Completed?</th>
                    <% tableRows.forEach(function(row) { %>
                        <tr >
                            <td id="table-id">
                                <%= row.todo_id %>
                            </td>  
                            <td>
                                <%= row.assignee %>
                            </td>    
                            
                            <td>
                                <%= row.description %> 
                            </td>
                            
                            <td>
                                <%= row.finish_date %>
                            </td>
                        
                            <td>
                                <%= row.complete %>
                            </td>                            
                        </tr>
                    <% }); %>                                
                </tr>                
            </table>             
        </div>
    </div>
    <div class="column-right">
        <img src="https://media.giphy.com/media/UnEFopkEVz1gA/giphy.gif" width="350" height="280" frameborder="0">
    </div>
</div>       



