<!DOCTYPE html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/todo">To Do</a>
    </div>
</header>

<main>
    
    <%- include('../partials/main_table'); %>
    <br>
    <br>
    <br>
    <button class="open-button" onclick="openForm('add_to_table')">Add</button>
    <div class="form-popup" id="add_to_table">
        <%- include('../partials/add_to_table'); %>
        <button type="button" class="btn_cancel" onclick="closeForm('add_to_table')">Close</button>
    </div>
    <br>
    <br>    
    <button class="open-button" onclick="openForm('delete_by_id')">Delete</button>
    <div class="form-popup" id="delete_by_id">
        <%- include('../partials/delete_by_id'); %>
        <button type="button" class="btn_cancel" onclick="closeForm('delete_by_id')">Close</button>
    </div>
    <br>
    <br>
    <button class="open-button" onclick="openForm('update_by_id')">Update</button>
    <div class="form-popup" id="update_by_id">
        <%- include('../partials/update_by_id'); %>
        <button type="button" class="btn_cancel" onclick="closeForm('update_by_id')">Close</button>
    </div>
    <br>
    <br>
    <button class="open-button" onclick="openForm('complete_by_id')">Complete</button>
    <div class="form-popup" id="complete_by_id">
        <%- include('../partials/complete_by_id'); %>
        <button type="button" class="btn_cancel" onclick="closeForm('complete_by_id')">Close</button>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>


<script>
    // open the form by click on the form button by the relevant id (form: one of complete_by_id, update_by_id, delete_by_id, add_to_table)
    function openForm(form) {
        document.getElementById(form).style.display = "block";
    }
    
    // close the form by click on the form button by the relevant id (form: one of complete_by_id, update_by_id, delete_by_id, add_to_table)
    function closeForm(form) {
        document.getElementById(form).style.display = "none";
    } 
</script>


</body>
</html>