<!DOCTYPE html>
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/todo">To Do</a>
    </div>
</header>

<main>
    <%- include('../partials/main_table'); %>
    <br>
    <br>
    <br>
    <%- include('../partials/add_to_table'); %>
    <br>
    <br>
    <%- include('../partials/delete_by_id'); %>
    <br>
    <br>
    <%- include('../partials/update_by_id'); %>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>